{% extends "eshop.html" %}
{% load static %}
{% block content %}
    <ul align="center" style="list-style-type:none;" >
        {% for Prod in Prods %}
            <li>
                <div class = "card">
                    <table width="100%">
                        <tr>
                            <td width="150px" align="left">
                                {% if Prod.image %}
                                    <img src="{{ Prod.image }}" alt="{{Prod.name}}">
                                {% else %}
                                    <img src="{% static 'img/broken.jpg' %}" width="150px" height="150px">
                                {% endif %}
                            </td>
                            <td  align="center">
                                <p>{{Prod.type}} {{Prod.brand}} {{Prod.name}}</p>
                                {% if Prod.desc %}
                                <p>{{Prod.desc}}</p>
                                {% endif %}
                            </td>
                            <td align="right" width="150px">
                                <p align="center">Цена: {{Prod.price}} ₽</p>
                                <div align="center">
                                    <form action="{% url 'cart_add' Prod.id %}" method="post" style="align: center">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">Добавить</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}